<div class="container my-5">
   <div class="row">
    <div class="col-md-6">
        <form (ngSubmit)="addNewEmployee()">
            <div class="mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" [(ngModel)]="employeerequest.name">
            </div>
            <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" [(ngModel)]="employeerequest.email">
            </div>
            <div class="mb-3">
                <label for="phone">Phone</label>
                <input type="number" class="form-control" name="phone" id="phone" [(ngModel)]="employeerequest.phone">
            </div>
            <div class="mb-3">
                <label for="salary">Salary</label>
                <input type="number" class="form-control" name="salary" id="salary" [(ngModel)]="employeerequest.salary">
            </div>
            <div class="mb-3">
                <label for="department">Department</label>
                <input type="text" class="form-control" name="department" id="department" [(ngModel)]="employeerequest.department">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
   </div>
</div>
